In [71]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm

%matplotlib inline

In [72]:
df_profile = pd.read_csv("C:/Users/Meli/Desktop/Ironhack/Lab1/week5_project/data/df_final_demo.txt")
df_profile

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

# Data wrangling

In [73]:
df_profile.dtypes

client_id             int64
clnt_tenure_yr      float64
clnt_tenure_mnth    float64
clnt_age            float64
gendr                object
num_accts           float64
bal                 float64
calls_6_mnth        float64
logons_6_mnth       float64
dtype: object

In [74]:
df_profile.columns

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')

In [75]:
df_profile["clnt_tenure_yr"].fillna(0).astype(float)
df_profile["clnt_tenure_mnth"].fillna(0).astype(float)
df_profile["clnt_age"].fillna(0).astype(float)
df_profile["num_accts"].fillna(0).astype(float)
df_profile["bal"].fillna(0).astype(float)
df_profile["calls_6_mnth"].fillna(0).astype(float)
df_profile["logons_6_mnth"].fillna(0).astype(float)
df_profile["client_id"].fillna(0).astype(int)
df_profile["gendr"].fillna("Unknown").astype(str)

0        U
1        U
2        U
3        M
4        F
        ..
70604    U
70605    M
70606    F
70607    M
70608    F
Name: gendr, Length: 70609, dtype: object

In [76]:
# Drop rows where 'gendr' column is 'U' or 'X'
df_profile = df_profile[~df_profile['gendr'].isin(['U', 'X'])]

display(df_profile)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
7,388801,30.0,361.0,57.5,M,5.0,522498.72,1.0,4.0
8,285619,30.0,369.0,67.5,M,2.0,299388.72,3.0,6.0
9,8198645,15.0,189.0,54.5,F,2.0,382303.83,6.0,9.0
...,...,...,...,...,...,...,...,...,...
70602,7979279,4.0,49.0,35.0,F,2.0,40441.45,3.0,3.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

In [77]:
df_profile["gendr"].value_counts()

gendr
M    23724
F    22746
Name: count, dtype: int64

In [78]:
## this is the only dataset with null values
df_profile.isnull().sum().sort_values(ascending=False)

clnt_age            15
clnt_tenure_yr      14
clnt_tenure_mnth    14
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
client_id            0
dtype: int64

In [79]:
df_roster = pd.read_csv("C:/Users/Meli/Desktop/Ironhack/Lab1/week5_project/data/df_final_experiment_clients.txt")
df_roster

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

In [80]:
df_roster.dtypes

client_id     int64
Variation    object
dtype: object

In [81]:
df_roster.columns

Index(['client_id', 'Variation'], dtype='object')

In [82]:
df_roster.isnull().sum().sort_values(ascending=False)

Variation    20109
client_id        0
dtype: int64

In [83]:
# Drop rows where 'Variation' column has NaN values
df_roster = df_roster.dropna(subset=['Variation'])

display(df_roster)

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
50495     393005   Control
50496    2908510   Control
50497    7230446      Test
50498    5230357      Test
50499    6334360      Test

[50500 rows x 2 columns]

In [84]:
df_web1 = pd.read_csv("C:/Users/Meli/Desktop/Ironhack/Lab1/week5_project/data/df_final_web_data_pt_1.txt")
df_web1.head(5)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [85]:
df_web1.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [86]:
df_web1.columns

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [87]:
df_web2.columns

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [88]:
df_web2 = pd.read_csv("C:/Users/Meli/Desktop/Ironhack/Lab1/week5_project/data/df_final_web_data_pt_2.txt")
df_web2.head(5)

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [89]:
df_web2.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [90]:
df_footprint = pd.concat([df_web1, df_web2])
df_footprint

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [119]:
df_footprint.sort_values(by='client_id')



# Pivot the DataFrame
pivot_df = df_footprint.pivot_table(index=['client_id', 'visitor_id', 'visit_id'], 
                                    columns='process_step', 
                                    values='date_time')

# Calculate duration for the entire process
pivot_df['total_duration'] = pivot_df['confirm'] - pivot_df['start']

# Drop rows with NaT values in any of the important steps
pivot_df = pivot_df.dropna(subset=['start', 'step_1', 'step_2', 'step_3', 'confirm'])

# Calculate duration for each step
pivot_df['start_to_step_1'] = pivot_df['step_1'] - pivot_df['start']
pivot_df['step_1_to_step_2'] = pivot_df['step_2'] - pivot_df['step_1']
pivot_df['step_2_to_step_3'] = pivot_df['step_3'] - pivot_df['step_2']
pivot_df['step_3_to_confirm'] = pivot_df['confirm'] - pivot_df['step_3']


# Reset index to have a flat DataFrame
result = pivot_df.reset_index()

display(result)

process_step,client_id,visitor_id,visit_id,confirm,start,step_1,step_2,step_3,total_duration,start_to_step_1,step_1_to_step_2,step_2_to_step_3,step_3_to_confirm
0,169,201385055_71273495308,749567106_99161211863_557568,2017-04-12 20:23:09,2017-04-12 20:19:36.000,2017-04-12 20:19:45.000000000,2017-04-12 20:20:31.000,2017-04-12 20:22:05.000,0 days 00:03:33,0 days 00:00:09,0 days 00:00:46,0 days 00:01:34,0 days 00:01:04
1,546,475037402_89828530214,731811517_9330176838_94847,2017-06-17 10:05:42,2017-06-17 10:03:29.000,2017-06-17 10:03:39.000000000,2017-06-17 10:03:52.000,2017-06-17 10:05:19.000,0 days 00:02:13,0 days 00:00:10,0 days 00:00:13,0 days 00:01:27,0 days 00:00:23
2,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 13:00:34,2017-04-15 12:57:56.000,2017-04-15 12:58:03.000000000,2017-04-15 12:58:35.000,2017-04-15 13:00:14.000,0 days 00:02:38,0 days 00:00:07,0 days 00:00:32,0 days 00:01:39,0 days 00:00:20
3,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:47:45,2017-04-12 15:41:28.000,2017-04-12 15:41:35.000000000,2017-04-12 15:41:53.000,2017-04-12 15:45:02.000,0 days 00:06:17,0 days 00:00:07,0 days 00:00:18,0 days 00:03:09,0 days 00:02:43
4,722,919259913_64837298108,984487154_55831795985_521110,2017-04-19 15:00:09,2017-04-19 14:53:13.000,2017-04-19 14:52:36.666666752,2017-04-19 14:53:46.500,2017-04-19 14:57:27.000,0 days 00:06:56,-1 days +23:59:23.666666752,0 days 00:01:09.833333248,0 days 00:03:40.500000,0 days 00:02:42
...,...,...,...,...,...,...,...,...,...,...,...,...,...
77732,9999451,663981185_93902283828,611106889_67993488256_946460,2017-06-07 16:13:32,2017-06-07 16:10:44.000,2017-06-07 16:10:53.000000000,2017-06-07 16:11:08.000,2017-06-07 16:12:31.000,0 days 00:02:48,0 days 00:00:09,0 days 00:00:15,0 days 00:01:23,0 days 00:01:01
77733,9999729,834634258_21862004160,870243567_56915814033_814203,2017-05-08 16:09:40,2017-05-08 16:08:25.000,2017-05-08 16:08:30.000000000,2017-05-08 16:08:40.000,2017-05-08 16:09:19.000,0 days 00:01:15,0 days 00:00:05,0 days 00:00:10,0 days 00:00:39,0 days 00:00:21
77734,9999768,389637884_26725643037,85676722_11636430786_122704,2017-06-03 18:13:16,2017-06-03 18:08:41.000,2017-06-03 18:08:42.333333248,2017-06-03 18:08:55.000,2017-06-03 18:10:03.500,0 days 00:04:35,0 days 00:00:01.333333248,0 days 00:00:12.666666752,0 days 00:01:08.500000,0 days 00:03:12.500000
77735,9999839,948322592_28990736246,715530422_68620416793_515645,2017-03-29 12:13:03,2017-03-29 12:10:13.500,2017-03-29 12:11:35.000000000,2017-03-29 12:11:50.000,2017-03-29 12:12:28.000,0 days 00:02:49.500000,0 days 00:01:21.500000,0 days 00:00:15,0 days 00:00:38,0 days 00:00:35
77736,9999875,738878760_1556639849,931268933_219402947_599432,2017-06-01 22:48:39,2017-06-01 22:40:01.000,2017-06-01 22:40:48.000000000,2017-06-01 22:41:47.000,2017-06-01 22:44:58.000,0 days 00:08:38,0 days 00:00:47,0 days 00:00:59,0 days 00:03:11,0 days 00:03:41

In [92]:
df_footprint.isnull().sum().sort_values(ascending=False)

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [93]:
df_footprint.columns

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [121]:
## compare this results with probability tests 
## Variation
## est       0.953797
## Control    0.743881

# Merge df_footprint and df_roster on client_id
merged_df = pd.merge(df_footprint, df_roster, on='client_id')

# Filter rows where process_step is 'confirm'
confirm_df = merged_df[logons_6_mnth       float64
dtype: object
df_footprint.columns
Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')
Selection deleted
merged_df['process_step'] == 'confirm']

# Calculate the number of users in each group
total_users = df_roster['Variation'].value_counts()

# Calculate the number of users who reached the 'confirm' step in each group
confirm_users = confirm_df['Variation'].value_counts()

# Calculate the proportion of users who reached the 'confirm' step in each group
proportion_confirm = confirm_users / total_users

# Display the result
display(proportion_confirm)

Variation
Test       0.953797
Control    0.743881
Name: count, dtype: float64

## Client behavior analysis

Client behavior analysis
Answer the following questions about demographics:

Who are the primary clients using this online process?
Are the primary clients younger or older, new or long-standing?

In [94]:
## use heatmap or stackedbar chart if your info is categorical vs categorical

In [97]:
mean_age = df_profile['clnt_age'].mean()
median_age = df_profile['clnt_age'].median()
mode_age = df_profile['clnt_age'].mode()[0]

mean_age.round(), median_age, mode_age

(49.0, 50.0, 58.5)

In [98]:
variance_age = df_profile['clnt_age'].var()
std_dev_age = df_profile['clnt_age'].std()
min_age = df_profile['clnt_age'].min()
max_age = df_profile['clnt_age'].max()
range_age = max_price - min_price
quantiles_age = df_profile['clnt_age'].quantile([0.25, 0.5, 0.75])

variance_age , std_dev_age , min_age , max_age , range_age , quantiles_age

NameError: name 'max_price' is not defined

In [99]:
# Frequency table for 'category'
frequency_table = df_profile["clnt_age"].value_counts()
frequency_table

clnt_age
58.5    620
57.5    608
53.0    597
55.5    596
52.5    584
       ...
93.5      3
93.0      2
96.0      1
95.5      1
14.0      1
Name: count, Length: 162, dtype: int64

In [100]:
# Calculating the proportion of each unique value in the 'category'
proportion_table = df_profile["clnt_age"].value_counts(normalize=True)
proportion_table

clnt_age
58.5    0.013342
57.5    0.013084
53.0    0.012847
55.5    0.012826
52.5    0.012568
          ...
93.5    0.000065
93.0    0.000043
96.0    0.000022
95.5    0.000022
14.0    0.000022
Name: proportion, Length: 162, dtype: float64

In [101]:
frequency_table = df_profile["gendr"].value_counts()
frequency_table

gendr
M    23724
F    22746
Name: count, dtype: int64

In [102]:
proportion_table = df_profile["gendr"].value_counts(normalize=True)
proportion_table

gendr
M    0.510523
F    0.489477
Name: proportion, dtype: float64

In [103]:
# Count the number of men and women
gender_counts = df_profile['gendr'].value_counts()
print(f"Gender counts:\n{gender_counts}")

# Check if there are more men or women
if gender_counts['M'] > gender_counts['F']:
    print("There are more men.")
elif gender_counts['M'] < gender_counts['F']:
    print("There are more women.")
else:
    print("The number of men and women is the same.")

# Calculate the average age
average_age = df_profile['clnt_age'].mean()
print(f"The average age of the clients is {average_age} years.")

# Check if the primary clients are younger or older
if average_age < df_profile['clnt_age'].max()/2:
    print("The primary clients are younger.")
else:
    print("The primary clients are older.")

# Calculate the average tenure in months
average_tenure = df_profile['clnt_tenure_yr']*12 + df_profile['clnt_tenure_mnth']
print(f"The average tenure of the clients is {average_tenure.mean()} months.")

# Check if the primary clients are new or long-standing
if average_tenure.mean() < df_profile['clnt_tenure_yr'].max()*12/2:
    print("The primary clients are new.")
else:
    print("The primary clients are long-standing.")

Gender counts:
gendr
M    23724
F    22746
Name: count, dtype: int64
There are more men.
The average age of the clients is 49.04176978200521 years.
The primary clients are older.
The average tenure of the clients is 361.9671400903809 months.
The primary clients are new.

In [104]:
""" Deliverables
You must submit the following deliverables in order for the project to be deemed complete:

A new repository with the name vanguard-ab-test on your GitHub account.
Working code that meets all technical requirements, built by you.
At least 1 Jupyter notebook is required
Include your functions in .py files
Additional needed files for your work, such as a Tableau file
A README with the completed project documentation.
The URL of the slides for your project presentation.
Presentation: When presenting your work, there are many important factors to consider, such as the content of your presentation and the way you deliver it.
Remember to allow time to rehearse the presentation beforehand.
See “Presentation” section below for guidelines.
Paste your own repository’s link in the Student Portal Project Activity.
Note: Each student should have their own repository to submit.
Links to the data you are using (sources) and your Kanban board (Trello) in the README """

' Deliverables\nYou must submit the following deliverables in order for the project to be deemed complete:\n\nA new repository with the name vanguard-ab-test on your GitHub account.\nWorking code that meets all technical requirements, built by you.\nAt least 1 Jupyter notebook is required\nInclude your functions in .py files\nAdditional needed files for your work, such as a Tableau file\nA README with the completed project documentation.\nThe URL of the slides for your project presentation.\nPresentation: When presenting your work, there are many important factors to consider, such as the content of your presentation and the way you deliver it.\nRemember to allow time to rehearse the presentation beforehand.\nSee “Presentation” section below for guidelines.\nPaste your own repository’s link in the Student Portal Project Activity.\nNote: Each student should have their own repository to submit.\nLinks to the data you are using (sources) and your Kanban board (Trello) in the README '

In [105]:
"" HINTS TO COMPLETE PROJECT 

Performance Metrics
Completion Rate
For each group (Test and Control), calculate the number of users who reached the ‘confirm’ step and divide it by the total number of users in that group.

This gives us the proportion (or probability) of users completing the process.
Mathematically, for the Test group, the completion rate is given by: \[ \text{Completion Rate (Test)} = \frac{\text{Number of 'Test' users reaching 'confirm'}}{\text{Total 'Test' users}} \]
The same formula applies for the Control group. This is a direct application of probability where we determine the likelihood of an event (completion) occurring.
Time Spent on Each Step
To calculate the Time Spent on Each Step, determine the time difference between each step for each visit and then calculate the average duration users spend on each step before moving to the next. The result will provide insights into the average time users of both the Test (new design) and Control (old design) groups spend on each of the process steps.

For each visit calculate the time difference between consecutive steps.
Then average these time differences for each step across all visits.
This does not directly use probability, but averages (or means) to understand typical user behavior.
Error Rates KPI
To address the Error Rates KPI, one approach is to identify instances where users go back to a previous step, suggesting possible confusion or an error.

Calculate the error rates by identifying these instances. Consider moving from a later step to an earlier one as an error.

For each group, the error rate is calculated as the proportion of these “error” instances to the total number of steps taken.

This is another application of probability, where you determine the likelihood of an error occurring.

Mathematically, for the Test group, the error rate is given by:

\[ \text{Error Rate (Test)} = \frac{\text{Number of 'backward' steps taken by 'Test' users}}{\text{Total steps taken by 'Test' users}} \]

The same formula applies for the Control group.

Hypothesis Testing
Completion Rate
Hypothesis

Null Hypothesis (\(H_0\))): The completion rate for the Test group (new design) is equal to the completion rate for the Control group (old design).
Alternative Hypothesis (\(H_a\))): The completion rate for the Test group (new design) is not equal to the completion rate for the Control group (old design).
To test this hypothesis, you will use a two-proportion z-test. This test is appropriate when comparing proportions (like completion rates) between two groups.

Completion Rate with a Cost-Effectiveness Threshold
Null Hypothesis (\(H_0\)): The completion rate for the Test group (new design) is equal to or less than the completion rate for the Control group (old design) increased by 5%.
Alternative Hypothesis (\(H_a\)): The completion rate for the Test group (new design) is greater than the completion rate for the Control group (old design) increased by 5%.
Note: a one-sided two-proportion z-test is appropriate.

Given the new threshold, you will compare the completion rate of the Test group to the completion rate of the Control group increased by 5%. """

SyntaxError: invalid character '‘' (U+2018) (48139516.py, line 5)

In [106]:
""" client_id: Every client’s unique ID.
variation: Indicates if a client was part of the experiment.
visitor_id: A unique ID for each client-device combination.
visit_id: A unique ID for each web visit/session.
process_step: Marks each step in the digital process.
date_time: Timestamp of each web activity.
clnt_tenure_yr: Represents how long the client has been with Vanguard, measured in years.
clnt_tenure_mnth: Further breaks down the client’s tenure with Vanguard in months.
clnt_age: Indicates the age of the client.
gendr: Specifies the client’s gender.
num_accts: Denotes the number of accounts the client holds with Vanguard.
bal: Gives the total balance spread across all accounts for a particular client.
calls_6_mnth: Records the number of times the client reached out over a call in the past six months.
logons_6_mnth: Reflects the frequency with which the client logged onto Vanguard’s platform over the last six months """

' client_id: Every client’s unique ID.\nvariation: Indicates if a client was part of the experiment.\nvisitor_id: A unique ID for each client-device combination.\nvisit_id: A unique ID for each web visit/session.\nprocess_step: Marks each step in the digital process.\ndate_time: Timestamp of each web activity.\nclnt_tenure_yr: Represents how long the client has been with Vanguard, measured in years.\nclnt_tenure_mnth: Further breaks down the client’s tenure with Vanguard in months.\nclnt_age: Indicates the age of the client.\ngendr: Specifies the client’s gender.\nnum_accts: Denotes the number of accounts the client holds with Vanguard.\nbal: Gives the total balance spread across all accounts for a particular client.\ncalls_6_mnth: Records the number of times the client reached out over a call in the past six months.\nlogons_6_mnth: Reflects the frequency with which the client logged onto Vanguard’s platform over the last six months '

# KPI´s and Metrics

## Completion Rate: This KPI measures the proportion of users who successfully complete the entire process, from the initial page to the confirmation page. A higher completion rate indicates that the new design is more effective. 

Time Spent on Each Step: Understanding the average duration users spend on each step provides insights into user engagement and potential bottlenecks. A decrease in the time spent on each step with the new design suggests improved efficiency and user experience.

Error Rates: Errors such as users going back to a previous step or encountering validation issues indicate confusion or difficulty in progressing through the process. A lower error rate with the new design suggests clearer navigation and reduced user frustration.

# Hypothesis Testing

## completion rate between the Test and Control groups

In [107]:
""" revisar nan values, usar fillna """

' revisar nan values, usar fillna '

In [108]:
# Calculate completion rates for Test and Control groups
total_clients_test = df_roster[df_roster['Variation'] == 'Test']['client_id'].nunique()
total_clients_control = df_roster[df_roster['Variation'] == 'Control']['client_id'].nunique()

completed_test = df_footprint[df_footprint['process_step'] == 'confirm']
completed_control = df_footprint[(df_footprint['process_step'] == 'confirm') & 
                                 (df_footprint['client_id'].isin(df_roster[df_roster['Variation'] == 'Control']['client_id']))]

completion_rate_test = len(completed_test) / total_clients_test
completion_rate_control = len(completed_control) / total_clients_control

# Check for NaN or zero values in completion rates
if np.isnan(completion_rate_test) or np.isnan(completion_rate_control) or total_clients_test == 0 or total_clients_control == 0:
    print("Error: Unable to calculate completion rates.")
else:
    # Calculate the standard error of the difference between completion rates
    SE = np.sqrt((completion_rate_test * (1 - completion_rate_test) / total_clients_test) +
                 (completion_rate_control * (1 - completion_rate_control) / total_clients_control))

    # Calculate the z-score
    z_score = (completion_rate_test - completion_rate_control) / SE

    # Calculate the p-value
    p_value = 2 * (1 - norm.cdf(abs(z_score)))  # Multiply by 2 for a two-tailed test

    # Set significance level
    alpha = 0.05

    # Compare p-value to alpha
    if p_value < alpha:
        print("Reject the null hypothesis. The completion rate in the Test group is significantly higher than the Control group.")
    else:
        print("Fail to reject the null hypothesis. There is no significant difference in completion rates between the Test and Control groups.")

Fail to reject the null hypothesis. There is no significant difference in completion rates between the Test and Control groups.

C:\Users\Meli\AppData\Local\Temp\ipykernel_18404\237276003.py:17: RuntimeWarning: invalid value encountered in sqrt
  SE = np.sqrt((completion_rate_test * (1 - completion_rate_test) / total_clients_test) +

## Completion Rate with a Cost-Effectiveness Threshold

In [109]:
# Calculate completion rates for Test and Control groups
completion_rate_test = len(completed_test) / total_clients_test
completion_rate_control = len(completed_control) / total_clients_control

# Calculate the difference in completion rates
completion_rate_difference = completion_rate_test - completion_rate_control

# Calculate the percentage increase in completion rate
percentage_increase = completion_rate_difference / completion_rate_control * 100

# Check if the percentage increase meets or exceeds the 5% threshold
if percentage_increase >= 5:
    print(f"The observed increase in completion rate meets or exceeds the 5% threshold. The new design is deemed cost-effective.")
else:
    print(f"The observed increase in completion rate does not meet the 5% threshold. The new design may not be deemed cost-effective.")

# Display the calculated completion rates, difference, and percentage increase
print(f"Completion Rate (Test Group): {completion_rate_test:.2%}")
print(f"Completion Rate (Control Group): {completion_rate_control:.2%}")
print(f"Difference in Completion Rates: {completion_rate_difference:.2%}")
print(f"Percentage Increase in Completion Rate: {percentage_increase:.2f}%")

The observed increase in completion rate meets or exceeds the 5% threshold. The new design is deemed cost-effective.
Completion Rate (Test Group): 381.80%
Completion Rate (Control Group): 74.39%
Difference in Completion Rates: 307.41%
Percentage Increase in Completion Rate: 413.25%

## Other Hypothesis

## test whether the average age of clients engaging with the new process is the same as those engaging with the old process

In [113]:
from scipy.stats import ttest_ind

# Define Test and Control groups based on clients engaging with the new and old processes
test_group = df_profile[df_profile['client_id'].isin(df_roster[df_roster['Variation'] == 'Test']['client_id'])]['clnt_age']
control_group = df_profile[df_profile['client_id'].isin(df_roster[df_roster['Variation'] == 'Control']['client_id'])]['clnt_age']

# Check for and remove any NaN values in age groups (if any)
test_group = test_group.dropna()
control_group = control_group.dropna()

# Ensure both groups are not empty and contain numerical data
if test_group.empty or control_group.empty:
    print("One of the groups is empty. Cannot perform t-test.")
else:
    # Perform two-sample t-test
    t_statistic, p_value = ttest_ind(test_group, control_group, equal_var=False)

    # Set significance level
    alpha = 0.05

    # Compare p-value to alpha
    if p_value < alpha:
        print(f"Reject the null hypothesis. There is a statistically significant difference in the average age between clients engaging with the new and old processes. p-value: {p_value:.4f}")
    else:
        print(f"Fail to reject the null hypothesis. The average age of clients engaging with the new process is not significantly different from those engaging with the old process. p-value: {p_value:.4f}")

Reject the null hypothesis. There is a statistically significant difference in the average age between clients engaging with the new and old processes. p-value: 0.0153

## test if the average client tenure (how long they’ve been with Vanguard) of those engaging with the new process is the same as those engaging with the old process

In [36]:
# Calculate average client tenure for Test and Control groups
average_tenure_test = test_group_tenure.mean()
average_tenure_control = control_group_tenure.mean()

# Display average client tenure for Test and Control groups
print(f"Average Client Tenure (Test Group): {average_tenure_test:.2f} years")
print(f"Average Client Tenure (Control Group): {average_tenure_control:.2f} years")

# Perform hypothesis test
if p_value_tenure < alpha_tenure:
    print("Reject the null hypothesis. There is a statistically significant difference in the average client tenure between clients engaging with the new and old processes.")
else:
    print("Fail to reject the null hypothesis. The average client tenure of those engaging with the new process is not significantly different from those engaging with the old process.")

Average Client Tenure (Test Group): 11.98 years
Average Client Tenure (Control Group): 12.09 years
Fail to reject the null hypothesis. The average client tenure of those engaging with the new process is not significantly different from those engaging with the old process.