In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [14]:
df_profile = pd.read_csv("C:/Users/Meli/Desktop/Ironhack/Lab1/week5_project/data/df_final_demo.txt")
df_profile

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

In [17]:
df_profile.dtypes

client_id             int64
clnt_tenure_yr      float64
clnt_tenure_mnth    float64
clnt_age            float64
gendr                object
num_accts           float64
bal                 float64
calls_6_mnth        float64
logons_6_mnth       float64
dtype: object

In [20]:
df_profile.columns

Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')

In [23]:
df_profile["clnt_tenure_yr"].fillna(0).astype(float)
df_profile["clnt_tenure_mnth"].fillna(0).astype(float)
df_profile["clnt_age"].fillna(0).astype(float)
df_profile["num_accts"].fillna(0).astype(float)
df_profile["bal"].fillna(0).astype(float)
df_profile["calls_6_mnth"].fillna(0).astype(float)
df_profile["logons_6_mnth"].fillna(0).astype(float)
df_profile["client_id"].fillna(0).astype(int)
df_profile["gendr"].fillna("Unknown").astype(str)

0        U
1        U
2        U
3        M
4        F
        ..
70604    U
70605    M
70606    F
70607    M
70608    F
Name: gendr, Length: 70609, dtype: object

In [26]:
## this is the only dataset with null values
df_profile.isnull().sum().sort_values(ascending=False)

clnt_age            15
clnt_tenure_yr      14
clnt_tenure_mnth    14
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
client_id            0
dtype: int64

In [29]:
df_roster = pd.read_csv("C:/Users/Meli/Desktop/Ironhack/Lab1/week5_project/data/df_final_experiment_clients.txt")
df_roster

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

In [32]:
df_roster.dtypes

client_id     int64
Variation    object
dtype: object

In [35]:
df_roster.columns

Index(['client_id', 'Variation'], dtype='object')

In [38]:
df_roster.isnull().sum().sort_values(ascending=False)

Variation    20109
client_id        0
dtype: int64

In [41]:
df_web1 = pd.read_csv("C:/Users/Meli/Desktop/Ironhack/Lab1/week5_project/data/df_final_web_data_pt_1.txt")
df_web1.head(5)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [44]:
df_web1.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [53]:
df_web1.columns

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [60]:
df_web2.columns

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [58]:
df_web2 = pd.read_csv("C:/Users/Meli/Desktop/Ironhack/Lab1/week5_project/data/df_final_web_data_pt_2.txt")
df_web2.head(5)

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [63]:
df_web2.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [66]:
df_footprint = pd.concat([df_web1, df_web2])
df_footprint

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [69]:
df_footprint.isnull().sum().sort_values(ascending=False)

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

## Client behavior analysis
Client behavior analysis Answer the following questions about demographics:

Who are the primary clients using this online process? Are the primary clients younger or older, new or long-standing?

In [74]:
mean_age = df_profile['clnt_age'].mean()
median_age = df_profile['clnt_age'].median()
mode_age = df_profile['clnt_age'].mode()[0]

mean_age.round(), median_age, mode_age

(46.0, 47.0, 58.5)

In [79]:
variance_age = df_profile['clnt_age'].var()
std_dev_age = df_profile['clnt_age'].std()
min_age = df_profile['clnt_age'].min()
max_age = df_profile['clnt_age'].max()
range_age = max_age - min_age
quantiles_age = df_profile['clnt_age'].quantile([0.25, 0.5, 0.75])

variance_age , std_dev_age , min_age , max_age , range_age , quantiles_age

(243.0877811418307,
 15.591272595328153,
 13.5,
 96.0,
 82.5,
 0.25    32.5
 0.50    47.0
 0.75    59.0
 Name: clnt_age, dtype: float64)

In [82]:
# Frequency table for 'category'
frequency_table = df_profile["clnt_age"].value_counts()
frequency_table

clnt_age
58.5    859
55.5    830
29.5    829
28.5    827
57.5    826
       ...
96.0      2
14.0      2
94.5      1
95.5      1
13.5      1
Name: count, Length: 165, dtype: int64

In [85]:
# Calculating the proportion of each unique value in the 'category'
proportion_table = df_profile["clnt_age"].value_counts(normalize=True)
proportion_table

clnt_age
58.5    0.012168
55.5    0.011757
29.5    0.011743
28.5    0.011715
57.5    0.011701
          ...
96.0    0.000028
14.0    0.000028
94.5    0.000014
95.5    0.000014
13.5    0.000014
Name: proportion, Length: 165, dtype: float64

In [88]:
frequency_table = df_profile["gendr"].value_counts()
frequency_table

gendr
U    24122
M    23724
F    22746
X        3
Name: count, dtype: int64

In [91]:
proportion_table = df_profile["gendr"].value_counts(normalize=True)
proportion_table

gendr
U    0.341696
M    0.336058
F    0.322204
X    0.000042
Name: proportion, dtype: float64

In [94]:
# Count the number of men and women
gender_counts = df_profile['gendr'].value_counts()
print(f"Gender counts:\n{gender_counts}")

# Check if there are more men or women
if gender_counts['M'] > gender_counts['F']:
    print("There are more men.")
elif gender_counts['M'] < gender_counts['F']:
    print("There are more women.")
else:
    print("The number of men and women is the same.")

# Calculate the average age
average_age = df_profile['clnt_age'].mean()
print(f"The average age of the clients is {average_age} years.")

# Check if the primary clients are younger or older
if average_age < df_profile['clnt_age'].max()/2:
    print("The primary clients are younger.")
else:
    print("The primary clients are older.")

# Calculate the average tenure in months
average_tenure = df_profile['clnt_tenure_yr']*12 + df_profile['clnt_tenure_mnth']
print(f"The average tenure of the clients is {average_tenure.mean()} months.")

# Check if the primary clients are new or long-standing
if average_tenure.mean() < df_profile['clnt_tenure_yr'].max()*12/2:
    print("The primary clients are new.")
else:
    print("The primary clients are long-standing.")

Gender counts:
gendr
U    24122
M    23724
F    22746
X        3
Name: count, dtype: int64
There are more men.
The average age of the clients is 46.442240133722414 years.
The primary clients are younger.
The average tenure of the clients is 295.2947659182662 months.
The primary clients are new.